In [3]:
import pymysql

In [4]:


#step1
#connect database
db = pymysql.connect(host='localhost',port=3306,user='root',password='admin',database='rgukt')
#print(db)
#create your query/handler/reference
cursor = db.cursor()

#prepare your query
query = "select * from realestate"
#execute the query
cursor.execute(query)
#print(cursor)
# display the output
for record in cursor.fetchall():
    print(record)
db.close()

('101 MG Road', 'Hyderabad')
('102 Secund', 'Secunderabad')
('103 GM ', 'Banjara Hills')