1) 50_startups dataset:

- a) Import the dataset and find out the shape of the dataframe.
- b) Slice the first 15 rows of data from data frame and store them into another variable.
- c) Find the min, max,head,tail,dtypes values of Administration column.
- d) Slice the 2 &amp; 3 columns of the data frame and store it into another variable.
- e) Find out the aggregations like mean, median,variance and standard deviation for first 20 rows of profit column.
- f) Find out the profit median for different states.(hint: Use groupby function)
- g) Filter out the rows from dataframe where R&amp;D Spend is more than 50,000.

In [3]:
#importing pandas
import pandas as pd

In [7]:
#a) Import the dataset and find out the shape of the dataframe.
data_frame = pd.read_csv("50_Startups.csv")
print("The Shape of Dataset is",data_frame.shape)

The Shape of Dataset is (50, 5)

In [14]:
#b) Slice the first 15 rows of data from data frame and store them into another variable.
data_frame2 = data_frame.head(15)
print("****************First 15 rows of data from data frame****************")
print(data_frame2)

****************First 15 rows of data from data frame****************
    R&D Spend  Administration  Marketing Spend       State     Profit
0   165349.20       136897.80        471784.10    New York  192261.83
1   162597.70       151377.59        443898.53  California  191792.06
2   153441.51       101145.55        407934.54     Florida  191050.39
3   144372.41       118671.85        383199.62    New York  182901.99
4   142107.34        91391.77        366168.42     Florida  166187.94
5   131876.90        99814.71        362861.36    New York  156991.12
6   134615.46       147198.87        127716.82  California  156122.51
7   130298.13       145530.06        323876.68     Florida  155752.60
8   120542.52       148718.95        311613.29    New York  152211.77
9   123334.88       108679.17        304981.62  California  149759.96
10  101913.08       110594.11        229160.95     Florida  146121.95
11  100671.96        91790.61        249744.55  California  144259.40
12   93863.75       127320.38        249839.44     Florida  141585.52
13   91992.39       135495.07        252664.93  California  134307.35
14  119943.24       156547.42        256512.92     Florida  132602.65

In [31]:
#c) Find the min, max,head,tail,dtypes values of Administration column.

# minimum
print("\nMinimun vlaue of Administration: ",float(data_frame[['Administration']].min()))

#Maximum
print("\nMaximum vlaue of Administration: ",float(data_frame[['Administration']].max()))

#Head
print("\nHead of Administration(Frist 5 rows)")
print(data_frame[['Administration']].head())

#Tail
print("\nTail of Administration(Last 5 rows)")
print(data_frame[['Administration']].tail())

#data type
print("Data Type of Administration :", data_frame[['Administration']].dtypes)

Minimun vlaue of Administration:  51283.14

Maximum vlaue of Administration:  182645.56

Head of Administration(Frist 5 rows)
   Administration
0       136897.80
1       151377.59
2       101145.55
3       118671.85
4        91391.77

Tail of Administration(Last 5 rows)
    Administration
45       124153.04
46       115816.21
47       135426.92
48        51743.15
49       116983.80
Data Type of Administration : Administration    float64
dtype: object

In [40]:
# d) Slice the 2 & 3 columns of the data frame and store it into another variable.
data_frame3=data_frame.iloc[:,1:3]
print("Sliced data:")
print(data_frame3)

Sliced data:
    Administration  Marketing Spend
0        136897.80        471784.10
1        151377.59        443898.53
2        101145.55        407934.54
3        118671.85        383199.62
4         91391.77        366168.42
5         99814.71        362861.36
6        147198.87        127716.82
7        145530.06        323876.68
8        148718.95        311613.29
9        108679.17        304981.62
10       110594.11        229160.95
11        91790.61        249744.55
12       127320.38        249839.44
13       135495.07        252664.93
14       156547.42        256512.92
15       122616.84        261776.23
16       121597.55        264346.06
17       145077.58        282574.31
18       114175.79        294919.57
19       153514.11             0.00
20       113867.30        298664.47
21       153773.43        299737.29
22       122782.75        303319.26
23       105751.03        304768.73
24        99281.34        140574.81
25       139553.16        137962.62
26       144135.98        134050.07
27       127864.55        353183.81
28       182645.56        118148.20
29       153032.06        107138.38
30       115641.28         91131.24
31       152701.92         88218.23
32       129219.61         46085.25
33       103057.49        214634.81
34       157693.92        210797.67
35        85047.44        205517.64
36       127056.21        201126.82
37        51283.14        197029.42
38        65947.93        185265.10
39        82982.09        174999.30
40       118546.05        172795.67
41        84710.77        164470.71
42        96189.63        148001.11
43       127382.30         35534.17
44       154806.14         28334.72
45       124153.04          1903.93
46       115816.21        297114.46
47       135426.92             0.00
48        51743.15             0.00
49       116983.80         45173.06

In [63]:
# e) Find out the aggregations like mean, median,variance and standard deviation for first 20 rows of profit column

data_frame4=data_frame[['Profit']].head(20)


print("Mean :",float(data_frame4.mean()))
print("Median :",float(data_frame4.median()))
print("varinace:",float(data_frame4.var()))
print("Standard Deviation:",float(data_frame4.std()))

Mean : 151161.657
Median : 147940.95500000002
varinace: 540529611.5323801
Standard Deviation: 23249.292710368205

In [70]:
# f) Find out the profit median for different states.(hint: Use groupby function)
data_frame5 = data_frame.groupby(['State']).median()
print(data_frame5)

            R&D Spend  Administration  Marketing Spend     Profit
State
California  63408.860      121597.550        174999.30   97427.84
Florida     74661.715      115728.745        253176.18  109543.12
New York    77044.010      127382.300        205517.64  108552.04

In [75]:
# g) Filter out the rows from dataframe where R&D Spend is more than 50,000.
print(data_frame[data_frame['R&D Spend']>50000])

    R&D Spend  Administration  Marketing Spend       State     Profit
0   165349.20       136897.80        471784.10    New York  192261.83
1   162597.70       151377.59        443898.53  California  191792.06
2   153441.51       101145.55        407934.54     Florida  191050.39
3   144372.41       118671.85        383199.62    New York  182901.99
4   142107.34        91391.77        366168.42     Florida  166187.94
5   131876.90        99814.71        362861.36    New York  156991.12
6   134615.46       147198.87        127716.82  California  156122.51
7   130298.13       145530.06        323876.68     Florida  155752.60
8   120542.52       148718.95        311613.29    New York  152211.77
9   123334.88       108679.17        304981.62  California  149759.96
10  101913.08       110594.11        229160.95     Florida  146121.95
11  100671.96        91790.61        249744.55  California  144259.40
12   93863.75       127320.38        249839.44     Florida  141585.52
13   91992.39       135495.07        252664.93  California  134307.35
14  119943.24       156547.42        256512.92     Florida  132602.65
15  114523.61       122616.84        261776.23    New York  129917.04
16   78013.11       121597.55        264346.06  California  126992.93
17   94657.16       145077.58        282574.31    New York  125370.37
18   91749.16       114175.79        294919.57     Florida  124266.90
19   86419.70       153514.11             0.00    New York  122776.86
20   76253.86       113867.30        298664.47  California  118474.03
21   78389.47       153773.43        299737.29    New York  111313.02
22   73994.56       122782.75        303319.26     Florida  110352.25
23   67532.53       105751.03        304768.73     Florida  108733.99
24   77044.01        99281.34        140574.81    New York  108552.04
25   64664.71       139553.16        137962.62  California  107404.34
26   75328.87       144135.98        134050.07     Florida  105733.54
27   72107.60       127864.55        353183.81    New York  105008.31
28   66051.52       182645.56        118148.20     Florida  103282.38
29   65605.48       153032.06        107138.38    New York  101004.64
30   61994.48       115641.28         91131.24     Florida   99937.59
31   61136.38       152701.92         88218.23    New York   97483.56
32   63408.86       129219.61         46085.25  California   97427.84
33   55493.95       103057.49        214634.81     Florida   96778.92