# 1. Write a Python program to count the number of characters (character frequency) in a string

In [12]:
s = "Your Name"
frequency = {}
for char in s:
    frequency[char] = frequency.get(char,0)+1
print(frequency)

{'Y': 1, 'o': 1, 'u': 1, 'r': 1, ' ': 1, 'N': 1, 'a': 1, 'm': 1, 'e': 1}

# 2. Write a Python program demonstrating all the string methods that were discussed in day1 session.

In [14]:
s.upper()

'YOUR NAME'

s.lower()

In [15]:
s.islower()

False

In [16]:
s.isupper()

False

In [17]:
s.split(" ")

['Your', 'Name']

In [18]:
s.capitalize()

'Your name'

In [19]:
s.swapcase()

'yOUR nAME'

In [20]:
s.center(50)

'                    Your Name                     '

In [21]:
s.center(50,"*")

'********************Your Name*********************'

# 3. Write a Python program demonstrating all the list methods that were discussed in day1 session.

In [35]:
li = [10,20,3]
li

[10, 20, 3]

li.append(10)
li

In [34]:
li.extend([5,6,78])
li

[10, 20, 3, 5, 6, 78]

[10, 20, 3, 10]

In [38]:
li.count(10)

2

In [39]:
len(li)

4

In [40]:
li.insert(2,4)

In [41]:
li

[10, 20, 4, 3, 10]

In [42]:
li.pop()

10

In [43]:
li.pop(1)

20

In [44]:
li

[10, 4, 3]

In [46]:
li.remove(4)

In [47]:
li

[10, 3]

In [48]:
li.sort()

In [49]:
li

[3, 10]

In [50]:
li.reverse()

In [51]:
li

[10, 3]

# 4. Write a Python program demonstrating all the dictionary methods that were discussed in day1 session.

In [52]:
names = {"Satish":980,"Rajesh":215,"Guru":552,"Prasanth":106}

In [54]:
names.keys()

dict_keys(['Satish', 'Rajesh', 'Guru', 'Prasanth'])

In [55]:
names.values()

dict_values([980, 215, 552, 106])

In [56]:
names

{'Satish': 980, 'Rajesh': 215, 'Guru': 552, 'Prasanth': 106}

In [57]:
names.items()

dict_items([('Satish', 980), ('Rajesh', 215), ('Guru', 552), ('Prasanth', 106)])

In [58]:
names.get("Satish")

980

In [59]:
names.pop("Guru")

552

In [60]:
names

{'Satish': 980, 'Rajesh': 215, 'Prasanth': 106}

In [61]:
names2 = {"Guru":552}

In [62]:
names.update(names2)

In [63]:
names

{'Satish': 980, 'Rajesh': 215, 'Prasanth': 106, 'Guru': 552}

In [65]:
names["Rajesh"]

215

# 5. Write a Python program demonstrating all the set methods that were discussed in day1 session.

In [83]:
set1 = {1,2,3,4,5,3,2}
set1

{1, 2, 3, 4, 5}

In [84]:
set1.add(78)

In [85]:
set1.remove(3)

In [86]:
set1

{1, 2, 4, 5, 78}

In [87]:
set1.pop()

1

In [88]:
set2 = {45,67,89,2}
set1.union(set2)

{2, 4, 5, 45, 67, 78, 89}

print(set1)

set1

In [89]:
set1 & set2

{2}

set1 - set2

In [90]:
set1-set2

{4, 5, 78}

In [91]:
set1^set2

{4, 5, 45, 67, 78, 89}

In [92]:
set1

{2, 4, 5, 78}

In [93]:
set2

{2, 45, 67, 89}

In [1]:
set3 = {1,2,3,4,5}

In [2]:
set4 = {5,6,7,8,9}

In [3]:
set3.union(set4)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [4]:
set3.intersection(set4)

{5}

In [6]:
set3.difference(set4)

{1, 2, 3, 4}